.post-title {
  background-color: #632413;
  background: -moz-linear-gradient(100% 100% 90deg, #632413, #8C1C0E 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8C1C0E), to(#632413));
  color: #FFFFFF;
  border-radius: 10px 0 0 0;
  margin: -1px 0 0 -1px;
  padding: 3px;
}

div.post-title a {
  color: #FFFFFF;
}

.children {
  margin-left: 25px;
}

.comment-tree {
  border: 1px solid #D4C7A7;
  border-right: none;
  border-radius: 10px 0 0 0;
  margin: 10px 0 10px 0;
}

.post-tree .post-title {
  background-color: #541F11;
  background: -moz-linear-gradient(100% 100% 90deg, #541F11, #541F11 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#541F11), to(#541F11));
}